body{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 8rem;
}
input{
    padding: 1rem;
    border-radius: 1rem;
    border: black solid;
}
button{
    background-color: black;
    color: white;
    border-radius: 1rem;
}
#operator{
    border: black solid;
    border-radius: 1rem;
}
